p {
    margin: 0;
}
.container-contest {
    padding-top: 48px;
    padding-bottom: 48px;
}
.cartao {
    display: flex;
    width: 100%;
}
.icon {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    margin: 0 1rem 1rem 0;
}
.nome {
    font-size: 4rem;
    -webkit-text-stroke: 0.12rem black;
    text-shadow: 0 0.5rem 0 black;
    margin: 0;
}
.tag {
    text-align: left;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
}
.cartao-informacoes {
    padding: 16px;
    margin-bottom: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 2rem;
}
.linha {
    display: flex;
    justify-content: space-between;
}
.informacoes {
    font-size: 2rem;
}
.nome-informacoes {
    color: #CCCCCC;
}
.conteudo-informacoes {
    margin-left: 2rem;
    color: white;
}
.custom-btn {
    width: 8rem;
}
