.tag-input {
    display: flex;
    align-items: center;
    background-color: #1A2A5D;
    border-radius: 2rem;
    padding: 5px;
    width: 20rem;
}
.tag-symbol {
    color: white;
    font-size: 1.4rem;
    margin: 0 10px;
}
input {
    border: none;
    background-color: #D1D5DB;
    border-radius: 0 2rem 2rem 0;  
    padding: 5px 10px;
    width: 100%;
    outline: none;
    font-size: 1rem;
}
.procurar-jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 16px;
}
.erro {
    height: 48px;
    font-size: large;
}
