<%- include('componentes/head', { titulo: 'Brawl Stats', estilos: ['index', 'componentes/botao'] }) %>
<body class="d-flex align-items-center min-vh-100">
    <header></header>
    <div class="container-contest">
        <div class="container-box">
            <img src="/images/Logo-Brawl.png" alt="Logo" class="logo">
            <div>
                <a href="/login"><%- include('componentes/botao', { tela: 'index', text: 'Entrar' }) %></a>
                <a href="/principal" class="d-block mt-3 custom-a">Continuar sem login</a>
            </div>
        </div>
    </div>
    <%- include('componentes/footer') %>
</body>
</html>