<%- include('componentes/head') %>
<body class="d-flex justify-content-center align-items-center vh-100">
    <header></header>
    <div class="container-contest">
        <div class="container-box">
            <img src="/images/Logo-Brawl.png" alt="Logo" class="logo"> 
            <div class="procurar-jogador">
                <div class="tag-input">
                    <span class="tag-symbol">#</span>
                    <input type="text" placeholder="Tag">
                </div>
                <a href="/login"><%- include('componentes/botao', { tela: 'estatisticas', text: 'Estatísticas' }) %></a>
            </div>
        </div>
    </div>
    <%- include('componentes/footer') %>
</body>
</html>